# Important functions:
- ``.str.method``,
- ``.contains()``,
- ``.extract()``,
- ``.to_datetime()``,
- ``.get_dummies()``,
- ``.add_prefix()``,
- ``.sample()``,
- `regex`,
- ``.to_numeric()``,
- ``.isin()``,
- ``.corr()``.
- ``.strip()``

### Notes
- 'Air conditioning,Automatic climate control,Cruise control,Leather steering wheel,Lumbar support,Navigation system,Park Distance Control,Parking assist system sensors rear,Power windows,Seat heating,Start-stop system'
mesela bu satır; Comfort&Convenience sütununun listeler dışına çıkarılmış sade bir string değeri. Virgüllerle ayrılmış unique değerlerden oluşuyor.

- Burada virgül şart değil. Başka karakterlerle de ayırabilirsiniz. Ancak bu belirleyeceğiniz karakter (char), daha sonra get_dummies(sep ="char") yaparken kullanacağınız sep değeri ile aynı olmalıdır.

- mümkün mertebe en fazla sayıda örneklemle (satırla) çalışmak en ideali. Bu çok önemli

### EDA Projesinde izlenecek özet yol :
- araba fiyatının belirlenmesine etki etmeyecek olan ve yüksek nan'a sahip olan sütunları düşür
- bozuk formattaki yapıları düzeltip sade ve anlamlı string/numeric değerlere dönüştür
- kalan tüm sutunların nan'larını en mantıklı şekilde doldur.
- tüm sutunların numeric değer almasını sağla. (kategorik olan sütunlar get_dummies() ile numeric olacak)
- tüm sutunların outlier'larını gider
- sonuç df'i csv olarak kaydet

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings  # hem uyarı satırlarını hem de çıktı sonuçlarını bir arada görebilmenizi sağlar.
warnings.filterwarnings('ignore')
warnings.warn("this will not show")

In [3]:
df = pd.read_json("scout_car.json", lines = True)

In [4]:
df.head()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,...,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,...,[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,...,"[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,...,"[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(15919, 54)

In [6]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

### 1. Step : Drop columns that does not make any sense for the price of cars and that contain lots of NaN

In [7]:
df = df.drop("url", axis = 1)  # url col is dropped.

In [8]:
df.shape

(15919, 53)

In [9]:
df.isna().sum().sort_values(ascending = False)

kW                               15919
Last Timing Belt Service Date    15903
Electricity consumption          15782
Available from                   15647
Last Service Date                15353
Availability                     15284
Other Fuel Types                 15039
Next Inspection                  12384
Inspection new                   11987
Emission Label                   11934
Model Code                       10941
Non-smoking Vehicle               8742
Country version                   8333
Full Service                      7704
Weight                            6974
Drive chain                       6858
prev_owner                        6828
Previous Owners                   6640
Paint Type                        5772
Cylinders                         5680
Warranty                          5420
Gears                             4712
vat                               4513
Body Color Original               3759
Upholstery                        3720
Offer Number                      3175
Emission Class                    3021
\nExtras\n                        2962
Consumption                       1906
CO2 Emission                      1808
First Registration                1597
\nEntertainment & Media\n         1374
\nSafety & Security\n              982
Nr. of Seats                       977
\nComfort & Convenience\n          920
Body Color                         597
Displacement                       496
Nr. of Doors                       212
body_type                           60
Body                                60
short_description                   46
Type                                 2
null                                 0
Make                                 0
hp                                   0
Model                                0
Gearing Type                         0
registration                         0
km                                   0
Fuel                                 0
price                                0
description                          0
make_model                           0
dtype: int64

In [10]:
def show_nans(oto, limit):
    missing = oto.isnull().sum()*100/oto.shape[0]
    return missing.loc[lambda x : x > limit]
show_nans(df,35)  # %35 ten daha fazla NaN olanlari veriyor

prev_owner                        42.892141
kW                               100.000000
Previous Owners                   41.711163
Next Inspection                   77.793831
Inspection new                    75.299956
Full Service                      48.395000
Non-smoking Vehicle               54.915510
Paint Type                        36.258559
Model Code                        68.729192
Cylinders                         35.680633
Weight                            43.809285
Drive chain                       43.080596
Emission Label                    74.967021
Country version                   52.346253
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

In [11]:
int(df.shape[0] * .40)  # % 40 and above non_NaNs survive

6367

In [13]:
df1 = df.dropna(thresh=int(df.shape[0] * .40), axis=1)  # Only drop columns which have at least 40 % non-NaNs and %60 NaNs
# The parameter thresh=N requires that a column has at least N non-NaNs to survive.
# Think of this as the lower limit for missing data you will find acceptable in your columns.

In [14]:
df1.isna().sum().sort_values(ascending = False)

Non-smoking Vehicle          8742
Country version              8333
Full Service                 7704
Weight                       6974
Drive chain                  6858
prev_owner                   6828
Previous Owners              6640
Paint Type                   5772
Cylinders                    5680
Warranty                     5420
Gears                        4712
vat                          4513
Body Color Original          3759
Upholstery                   3720
Offer Number                 3175
Emission Class               3021
\nExtras\n                   2962
Consumption                  1906
CO2 Emission                 1808
First Registration           1597
\nEntertainment & Media\n    1374
\nSafety & Security\n         982
Nr. of Seats                  977
\nComfort & Convenience\n     920
Body Color                    597
Displacement                  496
Nr. of Doors                  212
Body                           60
body_type                      60
short_description              46
Type                            2
registration                    0
price                           0
km                              0
Model                           0
description                     0
hp                              0
null                            0
Make                            0
Gearing Type                    0
Fuel                            0
make_model                      0
dtype: int64

In [15]:
df1.shape

(15919, 42)

In [79]:
df1.dtypes

make_model                   object
short_description            object
body_type                    object
price                         int64
vat                          object
km                           object
registration                 object
prev_owner                   object
hp                           object
Type                         object
Previous Owners              object
Warranty                     object
Full Service                 object
Non-smoking Vehicle          object
null                         object
Make                         object
Model                        object
Offer Number                 object
First Registration           object
Body Color                   object
Paint Type                   object
Body Color Original          object
Upholstery                   object
Body                         object
Nr. of Doors                 object
Nr. of Seats                 object
Gearing Type                 object
Displacement                 object
Cylinders                    object
Weight                       object
Drive chain                  object
Fuel                         object
Consumption                  object
CO2 Emission                 object
Emission Class               object
\nComfort & Convenience\n    object
\nEntertainment & Media\n    object
\nExtras\n                   object
\nSafety & Security\n        object
description                  object
Gears                        object
Country version              object
dtype: object

In [82]:
df1.prev_owner

0        2 previous owners
1                     None
2         1 previous owner
3         1 previous owner
4         1 previous owner
               ...
15914                 None
15915     1 previous owner
15916     1 previous owner
15917                 None
15918     1 previous owner
Name: prev_owner, Length: 15919, dtype: object

In [86]:
df1[["Previous Owners", "prev_owner"]]

                                         Previous Owners         prev_owner
0                                                  \n2\n  2 previous owners
1                                                    NaN               None
2                                                  \n1\n   1 previous owner
3                                                  \n1\n   1 previous owner
4                                                  \n1\n   1 previous owner
...                                                  ...                ...
15914                                                NaN               None
15915  [\n1\n, \n, 7.4 l/100 km (comb), \n, 9.2 l/100...   1 previous owner
15916                   [\n1\n, \n139 g CO2/km (comb)\n]   1 previous owner
15917                                                NaN               None
15918                                              \n1\n   1 previous owner

[15919 rows x 2 columns]

In [101]:
df2 = df1.drop(["Previous Owners", "null"], axis = 1)  # Because there are 2 previous Owner column and useless empty column

In [102]:
df2.shape

(15919, 40)

In [103]:
df2.columns

Index(['make_model', 'short_description', 'body_type', 'price', 'vat', 'km',
       'registration', 'prev_owner', 'hp', 'Type', 'Warranty', 'Full Service',
       'Non-smoking Vehicle', 'Make', 'Model', 'Offer Number',
       'First Registration', 'Body Color', 'Paint Type', 'Body Color Original',
       'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Gearing Type',
       'Displacement', 'Cylinders', 'Weight', 'Drive chain', 'Fuel',
       'Consumption', 'CO2 Emission', 'Emission Class',
       '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n',
       '\nSafety & Security\n', 'description', 'Gears', 'Country version'],
      dtype='object')

In [104]:
df2[["make_model", "Make"]].head()

  make_model      Make
0    Audi A1  \nAudi\n
1    Audi A1  \nAudi\n
2    Audi A1  \nAudi\n
3    Audi A1  \nAudi\n
4    Audi A1  \nAudi\n

In [105]:
df2.Make.value_counts()

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: Make, dtype: int64

In [106]:
df2.make_model.value_counts()

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [116]:
df2[['Full Service', "Warranty"]]

                           Full Service                          Warranty
0                              [\n, \n]           [\n, \n, \n4 (Green)\n]
1                                   NaN                               NaN
2                                   NaN  [\n, \n, \n99 g CO2/km (comb)\n]
3      [\n, \n, \n99 g CO2/km (comb)\n]                               NaN
4               [\n, \n, \n4 (Green)\n]              [\n, \n, \nEuro 6\n]
...                                 ...                               ...
15914                               NaN                     \n24 months\n
15915                               NaN              [\n, \n, \nEuro 6\n]
15916                          [\n, \n]           [\n, \n, \n4 (Green)\n]
15917                               NaN                                \n
15918                               NaN                               NaN

[15919 rows x 2 columns]

In [120]:
df3 = df2.drop(['Full Service', "Warranty", "Offer Number"], axis = 1) # these three columns may not have a big effect on price

In [121]:
df3.shape

(15919, 37)

In [129]:
df3[["Body Color", "Body Color Original"]].head()

        Body Color           Body Color Original
0  [\n, Black, \n]           [\nMythosschwarz\n]
1    [\n, Red, \n]                           NaN
2  [\n, Black, \n]  [\nmythosschwarz metallic\n]
3  [\n, Brown, \n]                           NaN
4  [\n, Black, \n]  [\nMythosschwarz Metallic\n]

In [145]:
df4 = df3.drop(["Body Color Original", "Body"], axis = 1)  # there is an additional and much more accurate "Body Color"\
                                                # and "body_type" columns

In [146]:
df4.shape

(15919, 35)

In [147]:
df4.columns

Index(['make_model', 'short_description', 'body_type', 'price', 'vat', 'km',
       'registration', 'prev_owner', 'hp', 'Type', 'Non-smoking Vehicle',
       'Make', 'Model', 'First Registration', 'Body Color', 'Paint Type',
       'Upholstery', 'Nr. of Doors', 'Nr. of Seats', 'Gearing Type',
       'Displacement', 'Cylinders', 'Weight', 'Drive chain', 'Fuel',
       'Consumption', 'CO2 Emission', 'Emission Class',
       '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n',
       '\nSafety & Security\n', 'description', 'Gears', 'Country version'],
      dtype='object')

In [178]:
df5 = df4.drop('description', axis = 1) # It contains the details of Comfort & Convenience, Entertainment & Media,
                                        # Extras, Safety & Security columns

In [180]:
df5.shape

(15919, 34)

In [181]:
df5

,make_model,short_description,body_type,price,vat,km,registration,prev_owner,hp,Type,...,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,Gears,Country version
0,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,66 kW,"[, Used, , Diesel (Particulate Filter)]",...,"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont...","[ABS, Central door lock, Daytime running light...",NaN,NaN
1,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,141 kW,"[, Used, , Gasoline]",...,"[\n, Gasoline, \n]","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Sport seats, Sport suspension, ...","[ABS, Central door lock, Central door lock wit...",[\n7\n],NaN
2,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,85 kW,"[, Used, , Diesel (Particulate Filter)]",...,"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise control, Electrical ...","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, Daytime running light...",NaN,NaN
3,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,66 kW,"[, Used, , Diesel (Particulate Filter)]",...,"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air suspension, Armrest, Auxiliary heating, E...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport seats, Voice Control]","[ABS, Alarm system, Central door lock with rem...",[\n6\n],NaN
4,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,66 kW,"[, Used, , Diesel (Particulate Filter)]",...,"[\n, Diesel (Particulate Filter), \n]","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...",[\n109 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport package, Sport suspension...","[ABS, Central door lock, Driver-side airbag, E...",NaN,[\nGermany\n]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,Renault Espace,Blue dCi 200CV EDC Executive 4Control,Van,39950,VAT deductible,- km,-/-,None,147 kW,"[, New, , Diesel (Particulate Filter)]",...,"[\n, Diesel (Particulate Filter), \n]","[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...",[\n139 g CO2/km (comb)\n],NaN,"[Air conditioning, Automatic climate control, ...","[Bluetooth, Digital radio, Hands-free equipmen...","[Alloy wheels, Touch screen]","[ABS, Central door lock, Central door lock wit...",[\n6\n],NaN
15915,Renault Espace,"TCe 225 EDC GPF LIM Deluxe Pano,RFK",Van,39885,VAT deductible,"9,900 km",01/2019,1 previous owner,165 kW,"[, Used, , Super 95 / Super Plus 98 (Particula...",...,"[\n, Super 95 / Super Plus 98 (Particulate Fil...","[\n, 7.4 l/100 km (comb), \n, 9.2 l/100 km (ci...",[\n168 g CO2/km (comb)\n],NaN,"[Air conditioning, Automatic climate control, ...","[Bluetooth, Digital radio, Hands-free equipmen...","[Alloy wheels, Touch screen, Voice Control]","[ABS, Adaptive Cruise Control, Blind spot moni...",[\n7\n],[\nGermany\n]
15916,Renault Espace,Blue dCi 200 EDC Initiale Paris Leder LED Navi...,Van,39875,VAT deductible,15 km,03/2019,1 previous owner,146 kW,"[, Pre-registered, , Diesel]",...,"[\n, Diesel, \n]","[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...",[\n139 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...",[Alloy wheels],"[ABS, Adaptive Cruise Control, Blind spot moni...",[\n6\n],[\nAustria\n]
15917,Renault Espace,"Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...",Van,39700,VAT deductible,10 km,06/2019,None,147 kW,"[, Pre-registered, , Diesel]",...,"[\n, Diesel, \n]","[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...",[\n139 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Digital radio, Radio, USB]","[Alloy wheels, Touch screen]","[ABS, Blind spot monitor, Driver-side airbag, ...",[\n6\n],NaN
15918,Renault Espace,INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX,Van,40999,VAT deductible,- km,01/2019,1 previous owner,165 kW,"[, Demonstration, , Super 95]",...,"[\n, Super 95, \n]","[[6.8 l/100 km (comb)], [8.7 l/100 km (city)],...",[\n153 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...",[USB],"[Alloy wheels, Touch screen]","[ABS, Blind spot monitor, Daytime running ligh...",NaN,[\nGermany\n]

In [183]:
df5.to_csv("scout_1.csv", index = False)